{% csrf_token %}
<div class="panel panel-primary">
<table id="postForm">
<tbody>
<tr>
	<td>Name</td>
	<td>
		<input name="name" type="text" value="">
		<button type="submit" class="btn btn-default">Create</button>
	</td>
</tr>
<tr>
	<td>Comment</td>
	<td>
        <p>
            <button id="b" onclick="but('b')" type="button" class="btn btn-default"><b>b</b></button>
            <button id='s' type="button" class="btn btn-default"><s>s</s></button>
            <button id= 'i' onclick="but('i')" type="button" class="btn btn-default"><i>i</i></button>
            <button id='spoil' type="button" class="btn btn-default">spoiler</button>

            <button id = 'link' type="button" class="btn btn-default"
                    data-toggle="modal" href="#modal" href=data-target="#myModal">
                link</button>
        </p>
		<textarea id= "post_text" name="comment" cols="48" rows="4" wrap="soft"></textarea>
	</td>
</tr>
<tr>

    <tr>
	<td>Media</td>
	<td>
		<input name="media"
               cols="48"
               type="url"
               data-toggle="tooltip"
               data-placement="right"
                title="
                 Youtube
                "> <span>
       </span>
	</td>
</tr>

	<td>Image</td>
	<td>
		<input class="btn btn-default" name="image" type="file"
        data-toggle="tooltip"
               data-placement="right"
                title="
                 .jpg
                 .png
                 .gif
                 .webm
                 .mp3
                 .wav
                "
                >
	</td>

<tr>
	<td>Markdown Syntax</td>
	<td>
		<dl class="dl-horizontal">

  <dt>[I.ua](http://i.ua)</dt>
  <dd><a href="http://i.ua">I.ua</a></dd>

  <dt>*emp*</dt>
  <dd><em>emp</em></dd>

  <dt>**emp**</dt>
  <dd><strong>emp</strong></dd>

  <dt>*emp*Super</dt>
  <dd><em>emp</em>Super</dd>

  <dt>**emp**Strong</dt>
  <dd><strong>emp</strong>Strong</dd>


   <dd><a href="http://i.ua">...more</a></dd>



</dl>

	</td>
</tr>


</tbody>
</table>
    </div>


<script>

    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

{% for error in form.fields.errors %}
    {{ error }}
{% endfor %}

