<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Доски <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {%for board in boards%}
            <li><a href="{% url 'board' board.slug %}">{{board}}</a></li>
            {%endfor%}
          </ul>
        <li><a href="#">Галерея</a></li>
      </ul>

  </div>
</nav>

{%include 'common/banners.html'%}
