body { margin: 0; padding: 0; color: #000000;
font-family: arial,helvetica,sans-serif;
font-size: 10pt; }
a:link {
    color: #FF6633;
}
a:visited {
    color: #FF6633;
}
.post {
}
 .post img { float: left; margin-right: 10px; }
 .post .youtube { float: left; margin-right: 10px;}
 .post .data { float: left; }
.post .reply {
    display: table;
    padding: 2px;
    border: 0.5px solid  rgb(232,232,232) ;
    border-radius: 3px;
    background: none repeat scroll 0% 0% rgb(240,240,240) ;
    margin: 4px;
}
 .post blockquote { display: block; max-width: 600px; }
#postForm { margin: 0px auto; }

#postForm tr td:first-child {
    background-color: rgba(209, 50, 50, 0.18);
    border: 0.5px solid #000;
    padding: 0px 2px;
    font-weight: bold;
}

.postContainer {
display: table;
    width: 400px;
    margin-left: 25px;
    background-color: rgb(240,240,240);
    border: 1px solid rgb(184,184,184);
    border-radius: 2px;
}

.postContainer img { float: left; margin-right: 10px; }
.postContainer data { float: left; }

