{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/scripts/app.js"></script>

    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/fancybox/jquery.fancybox.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/forms.js"></script>
</head>

<body>
<div data-ng-app="jsImageboard">
<div data-ng-controller="mainController">
{%block content%}{%endblock%}
    <script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
</div>
</div>
</body>


</html>