{%extends 'base.html'%}
{% load thumbnail %}
{% load tachibana %}
{% block content %}
{%include 'common/top_menu.html'%}

 <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
              <a data-toggle="collapse" style = "margin: 650px"data-parent="#accordion" href="#collapseTwo">
                Новый Тред
              </a>
            </h4>
    </div>
<div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">



<p><form id ="create" method="POST" action="{%url 'board' board.slug%}" enctype="multipart/form-data">
<input type="hidden" name="board_id" value="{{board.id}}">
<input type="hidden" name="parent_id" value="0">
{%include 'common/post.html'%}
</form>


      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">
<h1>{{board.name}}</h1>
</div>
{%for post in posts%}
<div class="post">
    {% if post.media %}

    <div class = "youtube">
        <p><iframe width="320" height="240" src="https://{{ post.media|media_filter }}" frameborder="0" allowfullscreen></iframe></p>
        </div>

	{% elif post.image%}
	<a class="fancybox"


       rel="group" href="{{post.image.url}}">{%thumbnail post.image "300x200" crop="center" as im%}<img data-toggle="tooltip"
               data-placement="right"
                title="
                 3KB|{{post.image}}
                "
                src='{{im.url}}'>{%endthumbnail%}</a>

	{%endif%}

    {% if post.name %}
	<div class="data"><strong>{{post.name}}</strong> on {{post.datetime_create}}
        {% else %}

        <div class="data"><strong>Анон</strong> on {{post.datetime_create}}
        {% endif %}

    <span class="glyphicon glyphicon-envelope"
          data-toggle="tooltip"
               data-placement="top"
                title="Reply on email"
          aria-hidden="true"></span>

    <span id ="favorite_thread_1" class="glyphicon glyphicon-star-empty"
          data-toggle="tooltip"
               data-placement="top"
                title="To favorites"
          aria-hidden="true"></span>

    <span class="glyphicon glyphicon-stats"
          data-toggle="tooltip"
               data-placement="top"
                title="12 Replies(2 images)"
          aria-hidden="true"></span>



        [<a href="{%url 'post' board.slug post.id%}">Reply</a>]

    </div>
	<br />
	<div class="comment">{{post.comment|linebreaksbr}}</div>
	<br clear="all" />
</div>
<hr />
{%endfor%}



{%endblock%}