{%extends 'base.html'%}
{% load thumbnail %}
{% load tachibana %}
{% load markdown_format %}
{%block content%}
{%include 'common/top_menu.html'%}

<p><form id ="create" method="POST" action="{%url 'post' board.slug post.id%}" enctype="multipart/form-data">
<input type="hidden" name="board_id" value="{{board.id}}">
<input type="hidden" name="parent_id" value="{{post.id}}">
{%include 'common/post.html'%}
</form>

<hr />
<h1>{{board.name}}</h1>
<hr />
<div class="post">
    {% if post.media %}

        <div class = "youtube">
        <p><iframe width="320" height="240" src="https://{{ post.media|media_filter }}" frameborder="0" allowfullscreen></iframe></p>
        </div>

	{% elif  post.image %}
	<a class ="fancybox" rel="group" href="{{post.image.url}}">{%thumbnail post.image "300x200" crop="center" as im%}<img src='{{im.url}}'>{%endthumbnail%}</a>
	{%endif%}
    {% if post.name %}
	<div class="data">{{post.name}} on {{post.datetime_create}}</div>
        {% else %}

        <div class="data">Анон on {{post.datetime_create}}</div>

    {% endif %}

	<br />
	<div class="comment"><blockquote>{{post.comment|linebreaksbr}}</blockquote></div>
	{%for reply in post.replies.all%}
		<div class="replyContainer" id="{{reply.id}}">
			<div class="reply">
                {%if reply.media %}

                    <div class = "youtube">
        <p><iframe width="320" height="240" src="https://{{ reply.media|media_filter }}" frameborder="0" allowfullscreen></iframe></p>
        </div>

				{%elif reply.image%}
				<a class="fancybox" rel="group" href="{{reply.image.url}}">{%thumbnail reply.image "120" crop="center" as im%}<img src='{{im.url}}'>{%endthumbnail%}</a>

				{%endif%}
				<div class="data"><strong>>><a href = "#{{reply.id}}">{{reply.id}}</a>
                    {% if reply.name %}
                    {{reply.name}}</strong> on {{reply.datetime_create}}</div>
                        {% else %}

                        Анон </strong> on {{reply.datetime_create}}</div>
            {% endif %}

        <a href='#post_text'><span ng-click="append_reply({{ reply.id }})" class="glyphicon glyphicon-chevron-right"
          data-toggle="tooltip"
               data-placement="top"
                title="Reply on post"
          aria-hidden="true"></span></a>
				<br />
                {% autoescape off %}
				<div class="comment"><blockquote>{{reply.comment |linebreaksbr}}</blockquote>
                <div>
                    <p>
                        {% for post_reply in replyes %}
                            {% if post_reply.reply_parent.id ==  reply.id  %}


                        <a id ="post_replies" ng-mouseleave="close_reply({{ post_reply.child_id }})" ng-mouseover="show_reply({{ post_reply.child_id }})">>>{{ post_reply.reply_parent.id }}</a>,

                            {% endif %}


                    {% endfor %}
                    </p>


                     </div>


            {% endautoescape %}
			</div>
        {% for post_reply in replyes %}
            {% if post_reply.reply_parent.id ==  reply.id  %}
        <div id = "post_data{{ post_reply.child_id }}" ng-mouseleave="close_reply({{ post_reply.child_id }})" style="display: none; margin-top:-20px; margin-right: -140px; left:0; top:50px; z-index:2;">
                                 <div class="post" style="margin-left: {{forloop.counter}}{{forloop.counter}}px;">
                                    <div class = "reply">
                                        <div class = "replyContainer"></div>
                                 <img src='http://127.0.0.1:8000/media/cache/5b/7a/5b7a344b8e3481011616a7559279c187.jpg'>
                                 <div class="data"><strong>>><a href = "#1">1</a> test </strong> on 11.11.11</div>
                                    <div class = "comment"><blockquote><span id="post_id">yarrr</span></blockquote></div>

                                </div>
                            </div>
                            </div>

            {% endif %}

                    {% endfor %}
        </div>

		</div>



	{%endfor%}



{%endblock%}